node_modules/
dist/
*.js.map
.env
.env.local
.DS_Store
*.log
npm-debug.log*
.idea/
.vscode/
*.tsbuildinfo

# Windows reserved device names accidentally created by shell redirections
NUL
CON
AUX
PRN
*.tgz
